body {
  background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
}

a {
  color: #9670f4;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
